sudo: required

language: generic

services:
  - docker

env:
  - PHP_VERSION=7.0
  - PHP_VERSION=7.1
  - PHP_VERSION=7.2

script: bin/build.sh

deploy:
  script: bin/push.sh
  skip_cleanup: true
  on:
    branch: master
